* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

body, html {
  height: 100%;
  background: linear-gradient(to bottom, #f5c518, #ffe256);
  align-items: center;
  justify-content: center;
}

.containerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.content {
  margin-top: 20px;
  margin-bottom: 40px;
}

.logo {
  width: 225px;
  height: auto;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 850;
}

.welcomp {
  font-size: 1rem;
  color: #1c1c1c;
}

.buttons {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.button {
  padding: 12px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.register-btn {
  background-color: #ffffff;
  color: #1c1c1c;
}

.login-btn {
  background-color: #1c1c1c;
  color: #f5c518;
}

.button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  position: relative;
}

.form-title {
  color: #f5c518;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.form-label-text {
  color: #ffffff;
  margin-bottom: 6px;
  font-weight: 400;
}

.form-input {
  color: #333;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form-input::placeholder{
  color: #aaa;
}

.form-icon {
  position: absolute;
  right: 12px;
  top: 35px;
  color: #aaa;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #f5c518;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  transform: scale(1.02);
}

.submit-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-footer {
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.form-footer a {
  color: #f5c518;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}
